[submodule "etcd"]
	path = etcd
	url = https://github.com/EdgarLGB/etcd.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/EdgarLGB/haproxy.git
[submodule "mqtt-malaria"]
	path = mqtt-malaria
	url = https://github.com/EdgarLGB/mqtt-malaria.git
